html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}


/* #slider */
#slider .swiper {
    width: 100%;
    height: 100%;
}

#slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* #new */
#new .swiper {
    width: 100%;
    height: 100%;
    
}

#new .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444; /* 슬라이드 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#new .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}